<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css"
          th:href="@{style.css}"/>
    <title>Create Enquesta</title>

    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"  th:src="@{/js/vendor/jquery-1.11.2.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>

</head>
<body>

<div th:replace="header :: header">Header</div>

<h1> <span th:text="${enquesta.titol}"/></h1>

<form method="POST" th:object="${pregunta}" th:action="${flowExecutionUrl}">

    <input type="text" th:field="*{enunciat}" /><br/>


    <input type="submit" value="Nova pregunta" name="_eventId_noteEntered" />
    <input type="submit" value="Acabar preguntes" name="_eventId_finishedNotes" />
    <input type="submit" value="Cancelar" name="_eventId_cancel"/>

</form>


<h1>Bossa de preguntes</h1>
<ul>
    <li th:each="pregunta : ${bossaPreguntes.Preguntes}"
        th:id="'pregunta_' + ${pregunta.enunciat}">
        <div th:text="${pregunta.enunciat}">pregunta enunciat</div>
    </li>
</ul>


</body>
</html>