<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Notes</title>
</head>
<body>
<h1><span th:text="${enquesta.titol} "/></h1>

<h2>Bossa de preguntes</h2>
<ul>
    <li th:each="note : ${bossaPreguntes.Preguntes}"
        th:id="'note_' + ${pregunta.enunciat}">
    </li>
</ul>


<form method="POST" th:action="${flowExecutionUrl}">
    <input type="submit" value="Create Note" name="_eventId_enterNote"/>
    <input type="submit" value="Finish Entering Notes" name="_eventId_finishedNotes" />
    <input type="submit" value="Cancel" name="_eventId_cancel"/>
</form>

</body>
</html>