<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Notes</title>
</head>
<body>
<h1><span th:text="${userLab.name} + ' ' + ${userLab.secondName}"/></h1>
Email: <span th:text="${userLab.email}" />

<h2>Bag of notes</h2>
<ul>
    <li th:each="note : ${bagNoteLab.Notes}"
        th:id="'note_' + ${note.title}">
        <div th:text="${note.title}">Note title</div>
        <div th:text="${note.dateEdit}">Edit date</div>
        <div th:text="${note.content}">Content</div>
    </li>
</ul>


<form method="POST" th:action="${flowExecutionUrl}">
    <input type="submit" value="Create Note" name="_eventId_enterNote"/>
    <input type="submit" value="Finish Entering Notes" name="_eventId_finishedNotes" />
    <input type="submit" value="Cancel" name="_eventId_cancel"/>
</form>

</body>
</html>