<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Valorar</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>

<div th:replace="header :: header('enquestes')">Header</div>

<div class="container">

    <div class="block-title">
        <a class=""  th:href="@{'/enquestes'}" >Enquestes / </a> <span th:text="${enquesta.titol}">enquesta</span>
        <hr />
    </div>



    <form id="formResposta" class="form" method="POST" th:object="${resposta}" th:action="${flowExecutionUrl}">



        <div id="dataView" class="block" th:if="${resposta != null}">


            <h5>
                <span th:text="'Pregunta: '+ ${resposta.pregunta.ordre }+' de '+ ${bossaRespostes.getRespostes().size()}"></span>
            </h5>

            <div class="table lead">


                <h2><span th:text="${resposta.pregunta.enunciat}" >titol</span></h2>

                <hr />

                <div class="acidjs-rating-stars">
                    <th:block th:each="i : ${#numbers.sequence( resposta.pregunta.minim, resposta.pregunta.maxim)}">
                        <input type="radio"

                               th:id="${'valor-'+ (i-1)}"
                               th:field="*{valor}"
                               th:value="${(resposta.pregunta.maxim-(i-1))}"
                        /><label
                            th:for="${'valor-'+ (i-1)}" onclick="$('#btnSeguent').prop('disabled', false);" ondblclick="$('#btnSeguent').click();"></label>
                    </th:block>

                </div>

                <hr />

                <div class="btn-group">
                    <input id="btnSeguent" type="submit" value="Següent" class="btn btn-success btn-block" disabled="disabled" name="_eventId_respostaEntrada" />
                    <input type="submit" value="Cancelar" class="btn btn-default btn-block" name="_eventId_cancel" />
                </div>


            </div>
        </div>

        <div th:if="${resposta == null}">


            <div id="dataView" class="block">
                <div class="table">
                    <table id="general-table" class="table table-striped table-vcenter">
                        <tbody>
                        <tr th:each="resposta : ${bossaRespostes.getRespostes()}"
                            th:id="'pregunta_' + ${resposta.pregunta.id}">
                            <td>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span th:text="${resposta.pregunta.ordre}" >ordre</span>
                                        <span th:text="${resposta.pregunta.enunciat}" >titol</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="acidjs-rating-stars" th:title="${resposta.valor +' / '+ resposta.pregunta.maxim}">
                                            <label th:each="i : ${#numbers.sequence(resposta.pregunta.maxim,1,-1)}" th:style="${resposta.valor lt i}? 'color: #ccc;' : 'color: #f5b301;' " ></label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <input type="submit" value="Enviar" class="btn btn-lg btn-success btn-block" name="_eventId_respostesAcabades"/>
            <input type="submit" value="Cancelar" class="btn btn-sm btn-default btn-block" name="_eventId_cancel" />
        </div>

    </form>

</div>

<script>
    function valorat(pregunta, value) {
        $(pregunta).val(value);

    }
</script>

<div th:replace="footer :: footer">footer</div>
<div th:replace="links :: links">links</div>

</body>
</html>