

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 * Selectable CSS3 Rating Stars by Martin Ivanov (@wemakesitesnet)
 * @version 1.0
 * @author Martin Ivanov
 * @url portfolio http://wemakesites.net/
 * @url twitter https://twitter.com/wemakesitesnet
 * @url blog http://acidmartin.wordpress.com/
 **/
.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
}

.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #189800;
}

.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
}

.acidjs-rating-stars input
{
    display: none;
}

.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
}

.acidjs-rating-stars label
{
    color: #ccc;
}

.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 32px;
    line-height: 18px;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
}


.acidjs-rating-stars input:checked ~ label
{
    color: #f5b301;
}

.acidjs-rating-disabled
{
    opacity: .50;

    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

.navbar {
    vertical-align:middle;
}













