<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Enquesta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>

<div th:replace="header :: header">Header</div>

<div class="container">
    <div class="block-title">
        <a class=""  th:href="@{'/enquestes'}" >Enquestes / </a> <span th:text="${enquesta.titol}">enquesta</span>
        <hr />
    </div>


<div id="dataView" class="block">

    <fieldset>


        <a sec:authorize="hasRole('ADMIN')" class="btn btn-success btn-sm pull-right" th:href="${'/admin/enquestes/'+ enquesta.Id}" >Editar</a>


        <div id="dataView" class="block">

            <div class="table">
                <table id="general-table" class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 10%;"><a href="#">#</a></th>
                        <th style="width: 50%;"><a href="#">pregunta</a></th>
                        <th style="width: 20%;"><a href="#">valoració mitjana</a></th>
                        <th style="width: 20%;"><a href="#">&nbsp;</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pregunta, row : ${#lists.sort(enquesta.preguntes)}"
                        th:id="'pregunta_' + ${pregunta.id}">
                        <td><span th:text="${pregunta.ordre}">ordre</span></td>
                        <td><span th:text="${pregunta.enunciat}">titol</span></td>
                        <td><span th:text="${#numbers.formatDecimal(pregunta.getValoracioMitjana(), 1, 'COMMA', 2, 'POINT')}">ordre</span></td>
                        <td th:title="${#numbers.formatDecimal(pregunta.getValoracioMitjana(), 1, 'COMMA', 2, 'POINT')}">
                            <div class="acidjs-rating-stars">
                                <label th:each="i : ${#numbers.sequence(5,1,-1)}" th:style="${pregunta.getValoracioMitjana() lt i}? 'color: #ccc;' : 'color: #f5b301;' " ></label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr class="lead" >
                            <td><span></span></td>
                            <td><strong>Total</strong></td>
                            <td><strong th:text="${#numbers.formatDecimal(enquesta.getValoracioMitjana(), 1, 'COMMA', 2, 'POINT')}">ordre</strong></td>
                            <td th:title="${#numbers.formatDecimal(enquesta.getValoracioMitjana(), 1, 'COMMA', 2, 'POINT')}">
                                <div class="acidjs-rating-stars">
                                    <label th:each="i : ${#numbers.sequence(5,1,-1)}" th:style="${enquesta.getValoracioMitjana() lt i}? 'color: #ccc;' : 'color: #f5b301;' " ></label>
                                </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>

        <a class="btn btn-primary btn-sm pull-left" th:href="${'/entradaRespostesFlow?Id='+ enquesta.Id}" >Respondre</a>
    </fieldset>
</div>
</div>



<div th:replace="links :: links">links</div>

</body>
</html>