<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Enquesta</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"  th:src="@{/js/vendor/jquery-1.11.2.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>

</head>
<body>

<div th:replace="header :: header">Header</div>

<div class="container">
    <div class="block-title">
        <a class=""  th:href="@{'/enquestes'}" >Enquestes / </a> <span th:text="${enquesta.titol}">enquesta</span>
        <hr />
    </div>


<div id="dataView" class="block">

    <!--
    <div class="col-md-6">
        <label th:text="${enquesta.titol}" >titol</label>

    </div>
    <div class="col-md-6">
        <label th:text="${enquesta.dataCreacio}" >Data</label>
    </div>

    -->

    <fieldset>




        <div id="dataView" class="block">

            <div class="table">
                <table id="general-table" class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 70%;"><a href="#">pregunta</a></th>
                        <th style="width: 10%;"><a href="#">valoració</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pregunta, row : ${#lists.sort(enquesta.preguntes)}"
                        th:id="'pregunta_' + ${pregunta.id}">
                        <td><span th:text="${pregunta.enunciat}">titol</span></td>
                        <td>
                            <span th:text="${#numbers.formatDecimal(pregunta.getValoracioMitjana(), 1, 'COMMA', 2, 'POINT')}" >0.0</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <a class="btn btn-primary btn-sm pull-left" th:href="${'/entradaRespostesFlow?Id='+ enquesta.Id}" >Respondre</a>

    </fieldset>
</div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Eliminar pregunta</h4>
            </div>
            <div class="modal-body" id="confirmDeleteMessage"></div>
            <div class="modal-footer">
                <input type="hidden" id="itemToDelete" value="" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="$('#form_pregunta_'+ itemToDelete.value).submit();">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<!-- END Delete Modal -->

<div th:replace="links :: links">links</div>

</body>
</html>