<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<div th:fragment="footer" th:align="center">

    <br />
    <br />
    <br />
    <br />

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2016 <a href="https://github.com/ignasiargemi" target="_blank"> Argemi</a> &amp; <a href="https://github.com/santiherranz" target="_blank"> Herranz</a> - <a href="http://www.tecnocampus.cat" target="_blank">www.tecnocampus.cat</a></p>
        </div>
    </footer>
</div>
</body>
</html>

