<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">QUIZCAMPUS</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Inici</a></li>
            <li><a href="/enquestes">Enquestes</a></li>
            <li><a href="/usuaris">Usuaris</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <form class="navbar-form navbar-right" role="form">
                <!--
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" />
                </div>

                <button type="submit" class="btn btn-success glyphicon glyphicon-log-in">Entrar</button>
-->
                <div th:fragment="login" class="login" sec:authorize="!isAuthenticated()">
                <a  class="btn btn-success" href="/registre" > Registre</a>
                </div>

                <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
                    <label th:text="${#httpServletRequest.remoteUser}">Usuari</label>
                    Logged in user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span>
                    <div>
                        <form action="#" th:action="@{/logout}" method="post">
                            <input class="btn btn-success" type="submit" value="Sortir"    />
                        </form>
                    </div>
                </div>

            </form>

        </ul>
            </div>

    </div>
</nav>

</body>
</html>