<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TRUSTME</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Inici</a></li>
            <li class="active" sec:authorize="isAuthenticated()"><a href="/enquestes">Enquestes</a></li>
            <li class="active" sec:authorize="hasRole('ADMIN')"><a href="/admin/enquestes">Administrador </a>
            </li>
            <li class="active" sec:authorize="hasRole('ADMIN')"><a href="/admin/usuaris">Usuaris</a></li>
            <li class="active"><a href="/forecast">El Temps</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <div  sec:authorize="isAnonymous()" class="pull right">
                <button type="button" class="btn btn-success" id="myBtn" onclick="$('#myModal').modal(); ">Accedir</button>
                <a  class="btn btn-success" href="/registre" > Registra't</a>
            </div>

            <div sec:authorize="isAuthenticated()" class="pull right">
                <form action="#" th:action="@{/logout}" method="post">
                    <a href="#" th:href="@{/profile}" class="btn btn-primary" th:text="${#httpServletRequest.remoteUser}">Usuari</a>
                    <input class="btn btn-success" type="submit" value="Sortir"    />
                </form>
            </div>
        </ul>
            </div>

    </div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4> Accedir</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
                <form th:action="@{/login}" method="post" role="form">
                    <div class="form-group">
                        <label for="username"> Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Entra username" />
                    </div>
                    <div class="form-group">
                        <label for="password"> Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Entra password" />
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value=""  name="remember-me" checked="checked" />Recorda'm</label>
                    </div>
                    <button type="submit" class="btn btn-success btn-block"> Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <p>No ets membre? <a href="/registre">registra't</a></p>
                <!-- <p>Forgot <a href="#">Password?</a></p>-->
            </div>
        </div>

    </div>
</div>

</nav>

</body>
</html>