<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Detall</title>

        <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    </head>

<body>

<div th:replace="header :: header">Header</div>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Sistema de valoració per comerç electrònic</h1>
        <p>Millora l'experiència de compra dels teus clients</p>
        <p><a class="btn btn-primary btn-lg" href="/enquestes" role="button">Fes una prova &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
  <div class="row">

    <div class="col-md-4">
      <h2>SEO</h2>
      <p>Posiciona mejor en Google y aumenta la tasa de clics. </p>
      <p><a class="btn btn-default" href="/enquestes" role="button">Valorar els laboratoris &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>CONVERSIÓ</h2>
      <p>Augmenta la tasa de conversió del teu comerç, mejora tus resultados. </p>
      <p><a class="btn btn-default" href="/enquestes" role="button">Valorar els professors &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>CONFIANÇA</h2>
      <p>Analitza les opinions.</p>
      <p><a class="btn btn-default" href="#" role="button">Veure les estadístiques &raquo;</a></p>
    </div>

  </div>
</div>



<div th:replace="footer :: footer" th:align="center">
    <footer>
        <p>&copy; Argemi &amp; Herranz 2016</p>
    </footer>
</div>

<!-- /container -->

<div th:replace="links :: links">links</div>

</body>
</html>