<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>TRUST ME</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

<div th:replace="header :: header('home')">Header</div>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Sistema de valoració per comerç electrònic</h1>
        <p>Millora l'experiència de compra dels teus clients</p>
        <p><a class="btn btn-primary btn-lg" href="/enquestes" role="button">Entra &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
  <div class="row">

    <div class="col-md-4">
      <h2>SEO</h2>
      <p>Posiciona't millor a Google i augmenta la tasa de clics. </p>
      <p><a class="btn btn-default" href="/enquestes" role="button">Entra &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>CONVERSIÓ</h2>
      <p>Augmenta la tasa de conversió del teu comerç, millora els teus resultats. </p>
      <p><a class="btn btn-default" href="/enquestes" role="button">Entra &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>CONFIANÇA</h2>
      <p>Res genera més confiança de saber què pensen els que ja t'han comprat.</p>
      <p><a class="btn btn-default" href="#" role="button">Entra &raquo;</a></p>
    </div>

  </div>
</div>



<div th:replace="footer :: footer" th:align="center">
    <footer>
        <p>&copy; Argemi &amp; Herranz 2016</p>
    </footer>
</div>

<!-- /container -->

<div th:replace="footer :: footer">footer</div>
<div th:replace="links :: links">links</div>

</body>
</html>