<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

<div th:replace="header :: header('')">Header</div>

<div class="container">

    <h3 ><span class="label label-default" th:text="${{usuari.username}}"></span></h3>

    <li>Id:<span th:text="${{usuari.Id}}"></span></li>
    <li>dataCreacio:<span th:text="${{usuari.dataCreacio}}"></span></li>
    <li class="hide">password:<span th:text="${{usuari.password}}"></span></li>
    <li>username:<span th:text="${{usuari.username}}"></span></li>
    <li>respostes:<span th:text="${{usuari.respostes.size()}}"></span></li>
    <li>Roles:<span th:text="${{usuari.roles.size()}}"></span> {<span th:text="${{usuari.roles}}"></span>}</li>
    <a class="btn btn-primary btn-sm" href="/profile/edita/"> Editar</a>

</div>

<div th:replace="footer :: footer">footer</div>
<div th:replace="links :: links">links</div>

</body>
</html>