<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Detall</title>

    <head>
        <title>Welcome to the Spring MVC Quickstart application! Get started quickly by signing up!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
        <script src="http://code.jquery.com/jquery-latest.js"  th:src="@{/js/vendor/jquery-1.11.2.min.js}"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
    </head>

</head>
<body>

<div th:replace="header :: header">Header</div>

<div class="container">

    <div class="block-title">
        <a class=""  th:href="@{'/usuaris'}" >usuaris / </a> <span th:text="${usuari.email}">usuari</span>
        <hr />
    </div>
    <div class="form-group form-actions">
        <a class="btn btn-primary btn-sm" th:href="${'/usuaris/edita/'+ usuari.Id}" href="/usuaris/edita/"><i class="fa fa-floppy-o"></i> Editar</a>
        <a class="btn btn-success btn-sm"  th:href="@{'/usuaris/registre'}" >Registrar</a>
    </div>


    <div id="dataView" class="block">

        <div class="form-group">
            <label class="col-md-3 control-label" >Titol</label>
            <label th:text="${usuari.email}" >titol</label>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" >Data creació</label>
            <label th:text="${usuari.dataCreacio}" >Data</label>
        </div>

        <fieldset>
            <legend></legend>
        </fieldset>
    </div>

</div>

<div th:replace="footer :: footer">&copy; 2013 The Static Templates</div>

</body>
</html>