<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>preguntes</title>

    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"  th:src="@{/js/vendor/jquery-1.11.2.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>

</head>
<body>

<div th:replace="header :: header">Header</div>

<div class="container">

<h1><span th:text="${enquesta.titol}"/></h1>

    <h4>Preguntes</h4>
    <ul>
        <li th:each="pregunta : ${enquesta.preguntes}"
            th:id="'pregunta_' + ${pregunta.enunciat}">
            <div th:text="${pregunta.enunciat}">Enunciat pregunta</div>

        </li>
    </ul>
    <h4>Afegir preguntes</h4>
    <ul>
        <li th:each="pregunta : ${bossaPreguntes.preguntes}"
            th:id="'pregunta_' + ${pregunta.enunciat}">
            <div th:text="${pregunta.enunciat}">Enunciat pregunta</div>
        </li>
    </ul>
    <form method="POST" th:action="${flowExecutionUrl}">
        <input type="submit" value="Guardar" class="btn btn-sm btn-success" name="_eventId_proceed"/>
        <input type="submit" value="Cancelar" class="btn btn-sm btn-danger" name="_eventId_cancel"/>
    </form>

</div>

</body>
</html>