<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>preguntes</title>
</head>
<body>

<h1><span th:text="${enquesta.titol}"/></h1>

<h2>Bag of preguntas</h2>
<ul>
    <li th:each="pregunta : ${bossaPreguntes.preguntes}"
        th:id="'pregunta_' + ${pregunta.enunciat}">
        <div th:text="${pregunta.enunciat}">Enunciat pregunta</div>
    </li>
</ul>

<h2>preguntes</h2>
<ul>
    <li th:each="pregunta : ${enquesta.preguntes}"
        th:id="'pregunta_' + ${pregunta.enunciat}">
        <div th:text="${pregunta.enunciat}">Enunciat pregunta</div>

    </li>
</ul>
<form method="POST" th:action="${flowExecutionUrl}">
    <input type="submit" value="Proceed" name="_eventId_proceed"/>
    <input type="submit" value="Cancel" name="_eventId_cancel"/>
</form>

</body>
</html>